<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SInstagram</title>
    </head>

    <body>
        <h2>Sign Up</h2>
        <form action="/signup" method="post">
            <label for="email">Email : </label>
            <input type="email" name="email" id="email">
            <label for="username">Username : </label>
            <input type="text" name="username" id="username">
            <label for="name">Name : </label>
            <input type="text" name="name" id="name">
            <label for="pwd">Password : </label>
            <input type="password" name="pwd" id="pwd">

            <button type="submit">Submit</button>
            <a href="/login">login</a>
        </form>

    </body>
    {% with messages = get_flashed_messages() %}
    {% for message in messages %}
    <li>{{message}}</li>
    {% endfor %}
    {% endwith %}

</html>
