@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
    --rich-black: #0d1b2aff;
    --yinmn-blue: #415a77ff;
    --platinum: #e0e1ddff;

    --font: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    gap: 1rem;
    background-color: var(--platinum);
    font-family: var(--font);
}

/* ASIDE CONTROL PANEL STYLES */

aside {
    flex-grow: 1;
    min-width: 18vw;
    max-width: 18vw;
    height: 100%;
    display: flex;
    background-color: var(--rich-black);
    color: white;
    flex-direction: column;
    align-items: center;
}

aside .logo {
    width: 50%;
    margin-top: 0;
    object-fit: contain; 
}

aside ul {
    width: 90%;

    list-style-type: none;
    display: flex;
    flex-direction: column;
}

aside li {
    margin-bottom: 15px;
    padding: 5px;
    line-height: 1.75em;
    transition: all .2s ease-in-out;
}

aside a {
    text-decoration: none;
    color: whitesmoke;
    word-spacing: 0.75em;
    font-size: 1.25rem;
}

aside i {
    font-size: 1.5rem;
    transition: all .2s ease-in-out;
}

aside li:hover {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.315);
    cursor: pointer;
}

aside li:hover i {
    transform: scale(1.1);
}

/* STYLES FOR SHOWING POSTS */

.posts {
    padding: 12px;
    flex-grow: 1;
    align-self: flex-end;
    margin-bottom: 5px;
    height: 100%;
    width: 40%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    /* background-color: red; */
}

.post-card {
    width: 70%;
    height: 100%;
    padding: 6px;

    display: flex;
    flex-direction: column;
    gap: 18px;

    color: #000;
    background-color: var(--ultra-violet);


    box-shadow: 0 0 10px 1px #5f5f5f;
}

.post-detail {
    flex-grow: 1;
    width: 100%;
    /* height: 40%; */
    line-height: 1.75rem;
    display: grid;
}

.post-detail img {
    max-width: 75px;
    max-height: 75px;
    object-fit: contain;
    border-radius: 50%;
    background-color: white;
    color: black;
}

.post-detail .caption {
    justify-self: start;
}

.post-detail ul {
    justify-self: end;
    align-self: self-end;
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.actions li {
    display: flex;
}

.post-img {
    flex-grow: 3;
    width: 100%;
    max-height: 80%;
    object-fit: contain;
    align-self: center;
}

.message {
    flex-grow: 1;
}

.bxs-heart {
    color: red;
}

#like-btn {
    /* line-height: 50px; */
    transition: all 0.2s ease-in-out;
    /* background-color: blue; */
}

#like-btn:hover {
    cursor: pointer;
    color: red;
    font-size: 1.15rem;
}

#like-count-1 {
    /* background-color: green; */
}
