<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>{% block title %}{% endblock title %} - SInstagram</title>
</head>

<body>
    <aside>
        <img src="{{ url_for('static', filename='assets/light-logo.png') }}" alt="logo" class="logo">
        <ul>
            <li><a href="/"><i class='bx bx-home-alt'></i> Home</a></li>
            <li><a href="{{ url_for('routes.views.dashboard') }}"><i class='bx bxs-dashboard'></i> Dashboard</a></li>
            <li><a href="{{ url_for('routes.views.upload_post') }}"><i class='bx bx-upload'></i> Upload</a></li>
            <li><a href="{{ url_for('routes.auth.logout') }}" style="color: rgb(199, 0, 0);"><i class='bx bx-log-out'></i> Log-Out</a></li>
        </ul>
        <p>{{ current_user.username }}</p>

    </aside>
    {% block body %}

    {% endblock body %}
</body>

</html>