{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block body %}
<p>{{ current_user.username }}</p>
<section class="posts">
    {% for post in posts %}
    <div class="post-card">
        <div class="username">
            <img src="" alt="pp">
            <span>{{post.user.username}}</span>
        </div>
        <img src="{{ url_for('static', filename='uploads/'+post.post_name) }}" alt="post" class="post-img">
        <div class="post-detail">
            
            <span class="caption">
                This is the post caption 
                lorem*       
            </span>
            <ul class="actions">
                <li><i class='bx bx-heart'></i></li>
                <li><i class='bx bx-message'></i></li>
            </ul>
        </div>
    </div>
    {% endfor %}
</section>
<section class="message"></section>
{% endblock body %}