{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block body %}

{% if not current_user.username %}
<a href="/signup">SignUp</a>
    <a href="/login">Login</a>
    <div class="alert">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
    {% else %}
    <section class="posts">
        {% for post in posts %}
        <div class="post-card">
            <div class="card-header">
                <img src="" alt="pp">
                <span>{{post.user.username}}</span>
            </div>
            <img src="{{ url_for('static', filename='uploads/'+post.post_name) }}" alt="posrs">
            <div class="post-logistics">
                <ul class="actions">
                    <li><i class='bx bx-heart'></i></li>
                    <li><i class='bx bx-message'></i></li>
                </ul>
            </div>
        </div>
        {% endfor %}
    </section>
    {% endif %}
{% endblock body %}